.Contact {
    background-color: var(--body-bg);
    color: var(--body-color);
}

.Contact .container-contact {
    margin: 100px 40px;
    padding: 30px;
}


@media (max-width: 768px) {
    .Contact .row {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .Contact .col-lg-6,
    .Contact .col-md-4 {
        width: 100% !important;
    }

    .Contact iframe {
        width: 100% !important;
        height: 300px;
    }

    .Contact .container-contact {
        margin: 40px 15px;
        padding: 20px;
    }
}


.Contact input,
.Contact textarea {
    width: 100%;
}